# Ignorar dependencias de Node, se instalarán dentro del contenedor
node_modules

# Ignorar archivos de build locales, se generarán dentro del contenedor si es necesario
dist
build

# Ignorar archivos específicos del sistema operativo y del editor
.DS_Store
*.log
.env

# Ignorar la configuración de vite y los archivos temporales
vite.config.ts.*
*.tar.gz
